# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Camera]
viewing distance = 7208

[Fog]
sky blending start = 0.8

[Video]
antialiasing = 2
framerate limit = 60
resolution x = 1920
resolution y = 1080
vsync = true
window mode = 0

[Saves]
character = h4mu
